#main .geoadmin div.layertree,
#main .geoadmin div.map {
	float: left;
}

#main .geoadmin div.mousepos {
	clear: both;
}

#main .geoadmin ul {
	margin: 0px;
	padding: 0px;
}

#main .geoadmin tr,
#main .geoadmin td {
	border: none;
}