#main .geoadmin div.layertree {
}

#main .geoadmin div.map {
}

#main .geoadmin div.mousepos {
}

#main .geoadmin ul {
	margin: 0px;
	padding: 0px;
}

#main .geoadmin tr,
#main .geoadmin td {
	border: none;
}